.input_label_required {
    color: red;
}

.two_line_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.one_line_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pagination {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.pagination .active > span{
    background-color: #1ab394;
    border-color: #1ab394;
    color: white;
}

.loading {
    border: 1px solid red;
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading img {
    width: 65px;
    margin: auto;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 10px);
    position: absolute;
    z-index: 999999;
}
